html {
	cursor: url('cursors/default.png'),auto;

}
body{
    font-family:Lato,sans-serif
}
div.tab{
    overflow:hidden;
    border:1px solid #ccc;
    background-color:#f1f1f1
}
.btn{
    background-color:inherit;
	  cursor: url('cursors/pointer.png'),pointer;
    border:none;
    outline:0;
    padding:8px 14px;
    transition:.3s;
    font-size:17px
}

.btn:hover{
    background-color:#ddd
}
.btn.active{
    background-color:#ccc
}
.topright,.topright2{
    float:right;
    cursor:pointer;
    font-size:20px
}
.tabcontent{
    display:none;
    padding:6px 12px;
    border:1px solid #ccc;
    border-top:none
}
.topright:hover{
	  cursor: url('cursors/pointer.png'),pointer;
    color:red;
}
.topright2:hover{
	  cursor: url('cursors/pointer.png'),pointer;
    color:#00f
}
input[type=text]{
	  cursor: url('cursors/i-beam.png'),text;
    padding:10px;
    border:1px solid #dcdcdc;
    transition:box-shadow .3s,border .3s
}
input[type=text].focus,input[type=text]:focus{
    border:1px solid #707070;
    box-shadow:0 0 5px 1px #969696
}
iframe {
	cursor: url('cursors/default.png'),auto;
}
input, textarea, button, select, a {
		-webkit-tap-highlight-color: transparent;
}
textarea:focus, input:focus{
		outline: none;
}